<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="OurWeb.SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>X-TECH Premium htlm/css template by Shegy </title>
<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="assets/js/jquery-1.5.1.min.js"></script>
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"/>
<!--[if IE]>
<script type="text/javascript" src="js/pie.js"></script>
<script type="text/javascript" src="js/pie-config.js"></script>
<![endif]-->
<script type="text/javascript" src="assets/js/jquery.cycle.all.min.js"></script>
<script type="text/javascript">
    /* main page rotator */
    $('#rotator ul').cycle({
        fx: 'fade',
        speed: 300,
        timeout: 6000,
        pager: '.controls',
        prev: '.prev',
        next: '.next'
    });
    // end 
    /* testimonials rotator */
    $('#testimonials ul').cycle({
        fx: 'fade',
        speed: 300,
        timeout: 3000
    });
    // end 
</script>
<script type="text/javascript" src="assets/js/jquery-workarounds.js"></script>
</head>

<body>

<!-- container -->	
<div id="container">
	
    <!-- page -->
    <div id="page" class="curved-top">
    	
        <!-- top -->
        <div id="top">
        	
            <a href="#" id="login-box">Login</a>
            
            <a href="index-2.html" id="logo" class="float-left"><img src="assets/images/logo.png" alt="" /></a>
            
            <div id="search" class="float-right">
            	<form action="#" id="form-search">
                	<fieldset>
	                	<input type="text" value="search..." class="input-text autoclear" /><input type="submit" value="" class="input-submit" />
                    </fieldset>
                </form>
            </div>
            <div id="top-menu" class="float-right">
                <ul class="main">
                    <li><a href="index-2.html" class="current"><span>Home</span></a>
                    	<ul class="sub curved">
                        	<li><a href="index-2.html">Fade slider</a></li>
                        	<li><a href="index-3d.html">3D slider</a></li>    
                            <li><a href="index-nivo.html">Nivo slider</a></li>                        
                        </ul>
                    </li>
                    <li><a href="#"><span>Pages</span></a>
						<ul class="sub curved">
                        	<li><a href="about-us.html">About us</a></li>
                        	<li><a href="services.html">Services</a></li>    
                            <li><a href="contact.html">Contact</a></li>                        
                        </ul>
					</li>
                    <li><a href="works.html"><span>Works</span></a></li>
                    <li><a href="blog.html"><span>Blog</span></a>
                    	<ul class="sub curved">
                        	<li><a href="blog-post.html">Blog post</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span>Features</span></a>
						<ul class="sub curved">
                        	<li><a href="addons.html">Addons</a></li>
                        	<li><a href="columns.html">Columns</a></li>    
                            <li><a href="table.html">Pricing table</a></li>                        
						</ul>
					</li>
					<li><a href="#"><span>Styles</span></a>
						<ul class="sub curved">
                        	<li><a href="index.html">Original</a></li>
                        	<li><a href="http://www.shegy.nazwa.pl/themeforest/xtech_html/wine/">Wine</a></li>    
                            <li><a href="http://www.shegy.nazwa.pl/themeforest/xtech_html/blue/">Blue</a></li>
							<li><a href="http://www.shegy.nazwa.pl/themeforest/xtech_html/bokeh/">Bokeh</a></li>  
							<li><a href="http://www.shegy.nazwa.pl/themeforest/xtech_html/dark_wood/">Dark wood</a></li>  
							<li><a href="http://www.shegy.nazwa.pl/themeforest/xtech_html/light_wood/">Light wood</a></li>  
							<li><a href="http://www.shegy.nazwa.pl/themeforest/xtech_html/green/">Green</a></li>  
							<li><a href="http://www.shegy.nazwa.pl/themeforest/xtech_html/brown/">Brown</a></li>  
						</ul>
					</li>
                </ul>
            </div>
            
        </div>
        <!-- //top -->
        
        <!-- rotator -->
       	<div id="rotator">
        
            <div class="controls"></div>
            <a href="#" class="btn prev"></a>
            <a href="#" class="btn next"></a>
            
            <ul>
            	<li>
				<img src="assets/images/rotator/slide1.jpg" alt="" class="image" />
                <div class="data">
                    <h1>
                        Most powerful <strong>apps</strong> for <strong>iPad, iPhone</strong><br />
                        and <strong>iPod touch!</strong>
                    </h1>
                    <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh<br />
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.<br />
                Ut wisi enim ad minim veniam, quis nostrud exerci<br />
                tation ullamcorper suscipit lobortis nisl ut<br />
                aliquip ex ea commodo consequat.
                    </p>
                    <a href="#" class="read-more large">Read more</a>
                </div>
                    
                </li>
            	<li>
				<img src="assets/images/rotator/slide2.jpg" alt="" class="image" />
                <div class="data">
                    <h1>
                        Beautiful websites for <br /><strong>your bussiness.</strong><br />
                    </h1>
                    <p>
                Sed diam nonummy nibhLorem ipsum dolor sit amet,  <br />
                consectetuer adipiscing elit, dolore magna aliquam erat volutpat.<br />
                Ut wisi enim ad minim veniam,quis nostrud exerciquis nostrud exerci<br />
                quis nostrud exerciquis nostrud exercitation<br />
                tation ullamcorper suscipit lobortis.
                    </p>
                    <a href="#" class="read-more large">Read more</a>
                </div>
                    
                </li>
            	<li>
				<img src="assets/images/rotator/slide3.jpg" alt="" class="image" />
                <div class="data">
                    <h1>
						Strong <strong>brand,</strong> growing <strong>bussines,</strong> creative <strong>people...</strong>
                    </h1>
                    <p>
                Epsum factorial non deposit quid pro Olypian quarrels et gorilla<br />
				congolium sic ad nauseum. Souvlaki borundum e pluribus unum.<br />
				Defacto lingo est igpay atinlay. Marquee ovisio incongruous<br />
				feline nolo contendre. Gratuitous  sodium glutimate.
                    </p>
                    <a href="#" class="read-more large">Read more</a>
                </div>
                    
                </li>
            	<li>
				<img src="assets/images/rotator/slide4.jpg" alt="" class="image" />
                <div class="data">
                    <h1>
                        <strong>Cross browser</strong> ready template.<br />
						Different browser, same look. <br />
                    </h1>
                    <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.<br />
                Ut wisi enim ad minim veniam, quis nostrud exerci
                tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat.
                    </p>
                    <a href="#" class="read-more large">Read more</a>
                </div>
                    
                </li>
            	<li>
				<img src="assets/images/rotator/slide5.jpg" alt="" class="image" />
                <div class="data">
                    <h1>
                        Most beautiful <br />
						<strong>templates</strong>for <strong>your<br />business</strong>
                        
                    </h1>
                    <p>
                Adipiscing elit, sed diam nonummy nibh<br />
                euismod tincidunt ut laoreet dolore magna.<br />
                Ut wisi enim ad minim veniam, quis nostrud exerci<br />
                tation ullamcorper suscipit lobortis nisl ut<br />
                aliquip ex ea commodo consequat.
                    </p>
                    <a href="#" class="read-more large">Read more</a>
                </div>
                    
                </li>                                                                
            </ul>
            
        </div>
        <!-- //rotator -->
        
        <!-- content -->
        <div id="content">
        	
            <!-- set size -->
            <div class="set-size">
            
            <!-- list of articles -->
            <div class="list-articles">
            	<ul>
                	<li>
                        <img src="assets/images/welcome.jpg" alt="" class="shaded curved image" />
                        <h4>A new way to web design</h4>
                        <small>Duis autem vel eum iriure dolor in hendrerit in vulputate</small>
                        <p>
                            <strong>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.</strong> Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto 
                        </p>
                        <br />
                        <a href="#" class="read-more small float-left">Read more</a><a href="#" class="button small float-left">Get in touch</a>
                    <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <!-- //list of articles -->
            
            </div>
            <!-- //set size -->
            
            <div class="separator"></div>
            
            <!-- set size -->
            <div class="set-size">
            
            <!-- list of services items -->
            <div class="list-services">
            	<ul>
                	<li>
                    	<div class="image"><img src="assets/images/img2.jpg" alt="" /></div>
                        <h5><img src="assets/images/ico1.jpg" alt="" />Web design</h5>
                        <p>
                        Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari.
                        </p>
                        <a href="#" class="read-more small">Read more</a>
                    </li>
                	<li>
                    	<div class="image"><img src="assets/images/img4.jpg" alt="" /></div>
                        <h5><img src="assets/images/ico2.jpg" alt="" />Stock photos</h5>
                        <p>
                        Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari.
                        </p>
                        <a href="#" class="read-more small">Read more</a>
                    </li>
                	<li>
                    	<div class="image"><img src="assets/images/img3.jpg" alt="" /></div>
                        <h5><img src="assets/images/ico3.jpg" alt="" />Support - 24h</h5>
                        <p>
                        Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari.
                        </p>
                        <a href="#" class="read-more small">Read more</a>
                    </li>                                                            
                </ul>
            <div class="clear"></div>
            </div>
            <!-- //list of services items -->
            
            </div>
            <!-- //set size -->
            
            <div class="separator"></div>
            
            <!-- set size -->
            <div class="set-size">
            
            <!-- testimonials -->
            <div id="testimonials" class="float-left">
            	<h5>Testimonials</h5>
                <small>Lorem ipsum dolor sit ame</small>
            	<ul>
                	<li>
                    	<div class="text curved shaded">
                        	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqup ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate</p>
                        <div class="clear"></div>
                        </div>
                        
                        <div class="author">Steve Jobs, Apple</div>
                    </li>
                	<li>
                    	<div class="text curved shaded">
                        	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqup ex ea commodo consequat.</p>
                        <div class="clear"></div>
                        </div>
                        
                        <div class="author">Steve Jobs, Apple</div>
                    </li>
                	<li>
                    	<div class="text curved shaded">
                        	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqup ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate</p>
                        <div class="clear"></div>
                        </div>
                        
                        <div class="author">Bill Gates, Microsoft</div>
                    </li>                                        
                </ul>
            </div>
            <!-- //testimonials -->
            
            <!-- newsletter -->
            <div id="newsletter" class="float-right">
            	<h5>Newsletter</h5>
                <small>Duis autem vel eum iriure dolor in</small>
                <p>
                Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. 
                </p>
                <form action="#">
                
                	<fieldset>
                    	
                        <input type="text" value="enter your e-mail here..." class="input-text autoclear" /><input type="submit" value="" class="input-submit" />
                        
                    </fieldset>
                
                </form>
                <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. lobortis 
                </p>
            </div>
            <!-- //newsletter -->
            
            </div>
            <!-- //set size -->
            
            <div class="clear"></div>
            
        </div>
        <!-- //content -->
        
    </div>
    <!-- //page -->
    
    <!-- bottom -->
    <div id="bottom">
    <div class="inner">	
        <div class="column-220 float-left">
        	<h5>Web design</h5>
            <ul class="list arrows-grey">
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Sit amet consectetuer</a></li>
                <li><a href="#">Elit sed</a></li>
                <li><a href="#">Diam nonummy nibh</a></li>
                <li><a href="#">Tincidunt ut</a></li>
                <li><a href="#">Laoreet dolore magna</a></li>
                <li><a href="#">Erat volutpat</a></li>
            </ul>
        </div>
        <div class="column-220 float-left">
        	<h5>Branding</h5>
            <ul class="list arrows-grey">
                <li><a href="#">Li europan lingues es membres</a></li>
                <li><a href="#">Del sam familie lor separat</a></li>
                <li><a href="#">Es un myth por</a></li>
                <li><a href="#">Scientie musica sport etc li</a></li>
                <li><a href="#">Europa usa li sam</a></li>
                <li><a href="#">Vocabularium li lingues differe</a></li>
                <li><a href="#">Li grammatica li pronunciation</a></li>
            </ul>
        </div>
        <div class="column-220 float-left">
        	<h5>Contact</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
            </p>
            
            <a href="contact.html" class="contact"><span></span><img src="assets/images/contact.jpg" alt="" class="curved shaded" /></a>
        </div>
        <div class="column-220 float-right">
        	<h5>Design details</h5>
			<p>
				Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </p>
            
            <h5>Stay connected</h5>
            <ul class="list social-icons">
                <li><a href="#" class="skype tooltip" title="Skype"></a></li>
                <li><a href="#" class="linkedin tooltip" title="Linkedin"></a></li>
                <li><a href="#" class="facebook tooltip" title="Facebook"></a></li>
                <li><a href="#" class="digg tooltip" title="Digg"></a></li>
                <li><a href="#" class="deviantart tooltip" title="Deviantart"></a></li>
                <li><a href="#" class="twitter tooltip" title="Twitter"></a></li>
            </ul>
        </div>        
    </div>    
    </div>
    <!-- //bottom -->
    
    <!-- footer -->
    <div id="footer" class="curved-bottom">
    	
        <ul class="float-right">
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Regulations</a></li>
            <li><a href="#" class="gotop">Go Top</a></li>
        </ul>
        <p class="float-left">Copyright &copy; 2011 - Shegy - All rights reserved.</p>
        
    </div>
    <!-- //footer -->
    
</div>
<!-- //container -->

<!-- lightboxed login panel -->
<div id="lightbox"></div>   

<div id="loginbox-panel">
<a href="#" id="lightbox-close"></a>
	    <div class="alert alert-error" id="divStatusError" runat="server">
            <asp:Label ID="lblError" runat="server"></asp:Label>
        </div>
    	<form action="#" runat="server">

        	<fieldset>
            	<div class="frame">
                    <h4>Administrative portal</h4>
                    <small>Sign in to your account.</small>
                    <div class="clear"></div>
                    
                    <div class="control-group">
                    <label class="control-label" for="inputError">User Name:</label>
                    
                        <asp:TextBox ID="txtUser" class="input-text autoclear" runat="server"></asp:TextBox>
                        <asp:RequiredFieldValidator ID="rfvTextUser" runat="server" ErrorMessage="*Username Required" ControlToValidate="txtUser" ForeColor="Red"></asp:RequiredFieldValidator>
                    
                    </div>
                  <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    
                      <asp:TextBox ID="txtPassword" TextMode="Password" class="input-text autoclear" runat="server"></asp:TextBox>
                        <asp:RequiredFieldValidator ID="rfvTextPassword" runat="server" ErrorMessage="*Password Required" ControlToValidate="txtPassword" ForeColor="Red"></asp:RequiredFieldValidator>
                    
                  </div>
                  <div class="separator"></div>
                    <div>
                        <asp:Button Text="Sign in" class="input-submit float-right" ID="btnSignIn" runat="server" OnClick="btnSignIn_Click"/>
                	    <a href="#" class="float-left">Forgot your password?</a>
                    </div>
                </div>
                
                
            </fieldset>
        </form>
    
</div>
<!-- //lightboxes login panel -->
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>

</body>
</html>
